h3 {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

.controls select {
    margin-right: 20px;
}

button {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.scrollable {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    max-height: 400px;
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.item-info {
    text-align: left;
}

.item-info p {
    margin: 0;
}
