#top-songs {
    margin-top: 20px;
}

.song {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.song img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.song-info {
    display: inline-block;
    vertical-align: middle;
}

.song-info p {
    margin: 0;
}